.price {
    font-size: 30px;
    color: #22befb;
    line-height: 30px;
    >* {
        color: #969696;
    }
    .from {
        font-size: 13px;
        display: block;
    }
    .currency {
        font-size: 24px;
    }
    .per {
        font-size: 14px;
    }
}