.filter-room-available {
    li {
        a {
            text-decoration: none;
            @include paddingUpSideDown(2px, 10px);
            @include border-radius(3px);
            cursor: pointer;
        }
        &.active {
            a {
                background-color: $medium_gray;
                color: $dark_gray;
            }
        }
    }
}