.carousel {
    .carousel-inner {
        .item {
            width: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.section-banner-content {
    .carousel {
        .carousel-inner {
            .item {
                max-height: 550px;
            }
        }
    }
}