<form novalidate="" autocomplete="off" ng-submit="search(bookingForm.$valid)" name="bookingForm" class="text-center" ng-class="{'form-inline': isInlineForm}">
    <div class="col-xs-6 col-sm-3">
        <div class="form-group checkin-form-group" ng-class="{ 'has-error': bookingForm.checkIn.$touched && bookingForm.checkIn.$invalid }">
            <div class="input-group" data-min-date="today" data-min-view="year" data-today="true" moment-picker="booking.checkIn" format="YYYY-MM-DD">
                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                <input type="text" data-min-date="today" autocomplete="off " class="form-control " name="checkIn " placeholder="Check In " ng-model="booking.checkIn " ng-model-options="{ updateOn: 'blur' } " ng-required="true " required readonly>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="form-group checkout-form-group" ng-class="{ 'has-error': bookingForm.checkOut.$touched && bookingForm.checkOut.$invalid} ">
            <div class="input-group" data-min-date="booking.checkIn" moment-picker="booking.checkOut " format="YYYY-MM-DD ">
                <span class="input-group-addon "><i class="fa fa-calendar " aria-hidden="true "></i></span>
                <input type="text" data-min-date="booking.checkIn" autocomplete="off " class="form-control " name="checkOut " placeholder="Check Out " ng-model="booking.checkOut " ng-model-options="{ updateOn: 'blur' } " ng-required="true " required readonly>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-sm-4">
        <div class="guest-selection-panel-dd">
            <input type="text" class="form-control oneline-guests guest-search" ng-click="isopen=!isopen" value="{{ booking.noRooms | number }} rooms, {{ booking.adult | number }} adults, {{ booking.child | number }} children" data-selenium="occupancyBox" readonly="">
            <span class="lnr lnr-chevron-down" ng-click="isopen=!isopen"></span>
            <div class="guest-selection-panel" ng-class="{'open': isopen}">
                <div class="occ-dropdown-desktop">
                    <ul class="occupancy-selected list-unstyled">
                        <li class="occupancy-box-container">
                            <span ng-click="occMinus('rooms')" class="occ-minus remove-room btn-blue">-</span>
                            <div class="occupancy-selected" data-selenium="desktop-occ-room-label">
                                <span class="occ-number rooms">{{ booking.noRooms | number }}</span>
                                <span class="occ-label occ-label-fixed-width roomsLabel">Rooms</span>
                            </div>
                            <span ng-click="occPlus('rooms')" class="occ-plus add-room btn-blue">+</span>
                        </li>
                        <li class="occupancy-box-container">
                            <span ng-click="occMinus('adults')" class="occ-minus remove-adult btn-blue">-</span>
                            <div class="occupancy-selected" data-selenium="desktop-occ-adult-label">
                                <span class="occ-number adults">{{ booking.adult | number }}</span>
                                <span class="occ-label occ-label-fixed-width adultsLabel">Adults</span>
                            </div>
                            <span ng-click="occPlus('adults')" class="occ-plus add-adult btn-blue">+</span>
                        </li>
                        <li class="occupancy-box-container">
                            <span ng-click="occMinus('children')" class="occ-minus remove-children btn-blue">-</span>
                            <div class="occupancy-selected" data-selenium="desktop-occ-children-label">
                                <span class="occ-number children">{{ booking.child | number }}</span>
                                <span class="occ-label occ-label-fixed-width childrenLabel">Children</span>
                            </div>
                            <span ng-click="occPlus('children')" class="occ-plus add-children btn-blue">+</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2">
        <div class="form-group ">
            <button class="btn-block btn btn-success " ng-disabled="bookingForm.$invalid "><span class="lnr lnr-magnifier"></span></button>
        </div>
    </div>
</form>