<div class="details" ng-controller="customerDetail">
    <div class="panel panel-primary panel-room-details">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="fa fa-info-circle"></span> Booking Details</h3>
        </div>
        <div class="panel-body">
            <h4>{{ booking.room.name }}</h4>
            <p><span class="lbl"><i class="fa fa-home" aria-hidden="true"></i> Building:</span><span>{{ booking.room.building }}</span></p>
            <p><span class="lbl"><i class="fa fa-calendar" aria-hidden="true"></i> Check In:</span><span>{{ booking.checkIn | date: "EEEE MMMM dd, yyyy" }}</span></p>
            <p><span class="lbl"><i class="fa fa-clock-o" aria-hidden="true"></i> Time In:</span><span>2:00:00 pm</span></p>
            <p><span class="lbl"><i class="fa fa-calendar" aria-hidden="true"></i> Check Out:</span><span>{{ booking.checkOut | date: "EEEE MMMM dd, yyyy"  }}</span></p>
            <p><span class="lbl"><i class="fa fa-clock-o" aria-hidden="true"></i> Time Out:</span><span>2:00:00 pm</span></p>
            <p><span class="lbl"><i class="fa fa-user" aria-hidden="true"></i> Guest: </span><span>{{ booking.noOfRooms }} Adult(s) {{ booking.noOfChild ? booking.noOfChild : 0 | number }} Child</span></p>
            <p><span class="lbl"><i class="fa fa-area-chart" aria-hidden="true"></i> Rate: </span><span>{{ booking.roomRate | currency:'PHP ' }}</span></p>
            <p><span class="lbl"><i class="fa fa-moon-o" aria-hidden="true"></i> Nights: </span><span>x {{ booking.noOfNights }}</span></p>
            <p><span class="lbl"><i class="fa fa-bed" aria-hidden="true"></i> Rooms: </span><span>x {{ booking.noOfRooms }}</span></p>

        </div>
        <div class="panel-footer">
            <p><span class="lbl">Total:</span><strong>{{ booking.totalAmount | currency:'PHP ' }}</strong></p>
        </div>
        <!--/.panel-->
    </div>
    <div class="panel panel-primary panel-customer-details">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="fa fa-info-circle"></span> Customer Details</h3>
        </div>
        <div class="panel-body">
            <div class="customer-info">
                <p><span class="lbl"><i class="fa fa-asterisk" aria-hidden="true"></i> Name: </span><span>{{ booking.salutation }}. {{ booking.firstname }} {{ booking.middleName }} {{ booking.lastname }}</span></p>
                <p><span class="lbl"><i class="fa fa-envelope" aria-hidden="true"></i> Email: </span><span>{{ booking.email }}</span></p>
                <p><span class="lbl"><i class="fa fa-phone" aria-hidden="true"></i> Contact #: </span><span>{{ booking.contact }}</span></p>
                <p><span class="lbl"><i class="fa fa-sticky-note" aria-hidden="true"></i> Special Notes: </span><br/>
                    <span class="notes">{{ booking.specialInstructions }}</span></p>
                <p><span class="lbl"><i class="fa fa-map-marker" aria-hidden="true"></i> Address 1: </span><span>{{ booking.address1 }}</span></p>
                <p><span class="lbl"><i class="fa fa-map-marker" aria-hidden="true"></i> Address 2: </span><span>{{ booking.address2 }}</span></p>
                <p><span class="lbl"><i class="fa fa-map-marker" aria-hidden="true"></i> State: </span><span>{{ booking.state }}</span></p>
                <p><span class="lbl"><i class="fa fa-map-marker" aria-hidden="true"></i> City: </span><span>{{ booking.city }}</span></p>
                <p><span class="lbl"><i class="fa fa-asterisk" aria-hidden="true"></i> Zip Code: </span><span>{{ booking.zipcode }}</span></p>
                <p><span class="lbl"><i class="fa fa-asterisk" aria-hidden="true"></i> Country: </span><span>{{ booking.country }}</span></p>
                <p><span class="lbl"><i class="fa fa-sticky-note" aria-hidden="true"></i> Billing Notes: </span><br/>
                    <span class="notes">{{ booking.billingInstructions }}</span></p>
            </div>
        </div>
    </div>
</div>