<div class="main" ng-controller="paymentDetailCtrl">
    <div ui-view="header"></div>
    <div ui-view="steps"></div>
    <section class="section-payment-detail section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-money" aria-hidden="true"></i> Payment</h3>
                        </div>
                        <div class="panel-body">
                            <form name="paymentForm" ng-submit="pay(paymentForm.$valid)" novalidate>
                                <div class="radio" ng-class="{'has-error':  paymentForm.paymentType.$touched && paymentForm.paymentType.$invalid}">
                                    <label class="control-label" for="paymentType">
                                        <input type="radio" name="paymentType" ng-model="booking.paymentType" ng-init="booking.paymentType='pesopay'" value="pesopay" ng-required="true" required checked> Credit Card(pesopay)
                                    </label>
                                    <img src="images/cc.png" width="200" />
                                </div>

                                <div class="checkbox" ng-class="{'has-error':  paymentForm.accept.$touched && paymentForm.accept.$invalid}">
                                    <label class="control-label" for="accept">
                                        <input type="checkbox" ng-model="booking.accept"  ng-required="true" required> I accept to the <a ui-sref="policy" target="_blank">Terms of Sale</a>
                                    </label>
                                </div>
                                <p>
                                    By accepting the terms & conditions, I have read and agree to all the terms and conditions set forth by Iron Wood Property Ventures Corp. If you would like more information please access our Help section to read the
                                    <a ui-sref="policy" target="_blank">terms</a> and <a ui-sref="policy" target="_blank">privacy policy</a>
                                </p>

                                <button class="btn btn-success btn-block" ng-disabled="paymentForm.$invalid">Pay Now <span class="fa fa-long-arrow-right"></span></button>
                            </form>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div ui-view="bookingDetails"></div>
                </div>
            </div>

        </div>
    </section>
    <div ui-view="footer"></div>
</div>