<div class="main" ng-controller="paymentStatusCtrl">
    <div ui-view="header"></div>
    <div ui-view="steps"></div>
    <section class="section-payment-detail section">
        <div class="container">
            <div class="jumbotron text-center">
                <div class="cancel-payment" ng-if="paymentStatus=='cancel'">
                    <h1>Payment Cancelled!</h1>
                    <p><a ui-sref="home"><i class="fa fa-arrow-left" aria-hidden="true"></i> back home</a></p>
                </div>
                <div class="failed-payment" ng-if="paymentStatus=='fail'">
                    <h1>Oops! Payment Failed (:</h1>
                    <p><a ui-sref="home"><i class="fa fa-arrow-left" aria-hidden="true"></i> back home</a></p>
                </div>

            </div>
        </div>
    </section>
    <div ui-view="footer"></div>
</div>