<section class="section-step-indicator section">
    <div class="container">
        <div class="col-xs-3 col-md-3 step" ng-class="{'active': step == 1}"><span class="counter">1</span><span class="hidden-xs hidden-sm"><span class="hidden-sm">Choose</span> Room</span>
        </div>
        <div class="col-xs-3 col-md-3 step" ng-class="{'active': step == 2}"><span class="counter">2</span><span class="hidden-xs hidden-sm">Customer <span class="hidden-sm">Details</span></span>
        </div>
        <div class="col-xs-3 col-md-3 step" ng-class="{'active': step == 3}"><span class="counter">3</span><span class="hidden-xs hidden-sm">Payment</span></div>
        <div class="col-xs-3 col-md-3 step" ng-class="{'active': step == 4}"><span class="counter">4</span><span class="hidden-xs hidden-sm">Done</span></div>
    </div>
</section>