<div class="panel panel-primary panel-customer-details">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-info-circle"></span> Booking Details</h3>
    </div>
    <div class="panel-body">
        <h4>Luxury Loft</h4>
        <p><span class="lbl"><i class="fa fa-home" aria-hidden="true"></i> Building:</span><span>Main</span></p>
        <p><span class="lbl"><i class="fa fa-calendar" aria-hidden="true"></i> Check In:</span><span>Monday, 13 February 2017</span></p>
        <p><span class="lbl"><i class="fa fa-clock-o" aria-hidden="true"></i> Time In:</span><span>2:00:00 pm</span></p>

        <p><span class="lbl"><i class="fa fa-calendar" aria-hidden="true"></i> Check Out:</span><span>Monday, 13 February 2017</span></p>
        <p><span class="lbl"><i class="fa fa-clock-o" aria-hidden="true"></i> Time Out:</span><span>2:00:00 pm</span></p>
        <p><span class="lbl"><i class="fa fa-moon-o" aria-hidden="true"></i> Nights: </span><span>1</span></p>
        <p><span class="lbl"><i class="fa fa-area-chart" aria-hidden="true"></i> Rate: </span><span>Php 2,000.00</span></p>
        <p><span class="lbl"><i class="fa fa-bed" aria-hidden="true"></i> Rooms: </span><span>1</span></p>
        <p><span class="lbl"><i class="fa fa-user" aria-hidden="true"></i> Adult(s): </span><span>1</span></p>
        <p><span class="lbl"><i class="fa fa-user" aria-hidden="true"></i> Children: </span><span>1</span></p>
        <div class="customer-info">
            <p><span class="lbl"><i class="fa fa-asterisk" aria-hidden="true"></i> Title: </span><span>Mr</span></p>
            <p><span class="lbl"><i class="fa fa-asterisk" aria-hidden="true"></i> First Name: </span><span>John</span></p>
            <p><span class="lbl"><i class="fa fa-asterisk" aria-hidden="true"></i> Last Name: </span><span>Doe</span></p>
            <p><span class="lbl"><i class="fa fa-envelope" aria-hidden="true"></i> Email Address: </span><span>john.doe@gmail.com</span></p>
            <p><span class="lbl"><i class="fa fa-sticky-note" aria-hidden="true"></i> Special Notes: </span><br/>
                <span class="notes">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span></p>
            <p><span class="lbl"><i class="fa fa-map-marker" aria-hidden="true"></i> Address 1: </span><span>A.C. Cortes Avenue Mandaue City</span></p>
            <p><span class="lbl"><i class="fa fa-map-marker" aria-hidden="true"></i> Address 2: </span><span>A.C. Cortes Avenue Mandaue City</span></p>
            <p><span class="lbl"><i class="fa fa-map-marker" aria-hidden="true"></i> State: </span><span>Lorem ipsum</span></p>
            <p><span class="lbl"><i class="fa fa-map-marker" aria-hidden="true"></i> City: </span><span>Cebu</span></p>
            <p><span class="lbl"><i class="fa fa-asterisk" aria-hidden="true"></i> Zip Code: </span><span>6017</span></p>
            <p><span class="lbl"><i class="fa fa-asterisk" aria-hidden="true"></i> Country: </span><span>Philippines</span></p>
            <p><span class="lbl"><i class="fa fa-phone" aria-hidden="true"></i> Telephone: </span><span>111-111-1111</span></p>
            <p><span class="lbl"><i class="fa fa-sticky-note" aria-hidden="true"></i> Billing Notes: </span><br/>
                <span class="notes">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span></p>
        </div>
    </div>
    <!--/.panel-->
</div>