@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('../fonts/ProximaNovaSemibold.eot');
    src: url('../fonts/ProximaNovaSemibold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNovaSemibold.woff') format('woff'), url('../fonts/ProximaNovaSemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$light_gray: #f5f5f5;
$medium_gray: #e6e6e6;
$dark_gray: #7b7b7b;
$white: #FFF;
$red:#983737;
$hoverColor: #d9ad43;
$fontProximaNovaReg: 'Proxima Nova Rg';
$fontProximaNovaSemiBold: 'ProximaNovaSemibold';