.main {
    section {
        .panel-customer-details,
        .panel-room-details {
            .panel-body {
                p {
                    padding: 5px 0;
                    border-bottom: 1px #e6e6e6 dashed;
                    color: #969696;
                    span.lbl {
                        display: inline-block;
                        width: 120px;
                    }
                    span.notes {
                        font-style: italic;
                        font-size: 12px;
                    }
                }
            }
            .panel-footer {
                .lbl {
                    display: inline-block;
                    width: 120px;
                }
                strong {
                    font-size: 20px;
                }
            }
        }
        &.section-step-indicator {
            margin-top: 10px;
            margin-bottom: 20px;
            .step {
                &:first-child {
                    @include border-left-radius(4px);
                }
                &:last-child {
                    @include border-right-radius(4px);
                }
                background-color: #17212c;
                color: $white;
                padding: 5px 15px;
                text-transform: uppercase;
                .counter {
                    border: solid 2px #969696;
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    border-radius: 75px;
                    margin-right: 20px;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 38px;
                    font-size: 20px;
                }
                &.active .counter {
                    background-color: #50a950;
                    color: #fff;
                    border-color: #3e8f3e;
                }
            }
        }
        &.section-banner {
            .booking-form {
                position: absolute;
                z-index: 999;
                background-color: rgba(255, 255, 255, 0.68);
                width: 100%;
                padding: 10px;
            }
            .carousel-inner {
                .item {
                    width: 100%;
                    max-height: 500px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        &.section-rooms-available {
            margin: 20px 0;
            .room-filter {
                background-color: #FFF;
                box-shadow: 1px 2px 2px #ccc;
                .filter {
                    padding: 10px 20px;
                    border-bottom: 1px solid #cdd0d2;
                    .rzslider {
                        .rz-bar {
                            height: 6px;
                            @include border-radius(4px);
                        }
                        .rz-bubble {
                            font-size: 12px;
                        }
                        .rz-pointer {
                            top: -10px;
                            width: 25px;
                            height: 25px;
                            cursor: pointer;
                            background-color: #66a400;
                            &:after {
                                top: 9px;
                                left: 9px;
                            }
                        }
                    }
                }
            }
            .item {
                margin-bottom: 10px;
                background-color: #FFF;
                box-shadow: 1px 2px 2px #ccc;
                @include clearfix();
                .img-area {
                    padding: 8px 6px 8px 8px;
                }
                .item-flex-column {
                    padding: 8px 8px;
                    .item-name,
                    .item-aminities,
                    .item-best-deals {
                        min-height: 200px;
                        border-right: 1px solid #cdd0d2;
                    }
                    .item-details {
                        padding-left: 0;
                        h3 {
                            margin: 0 0 10px 0;
                            font-family: Arial, Helvetica, Sans, Sans-Serif, Sans Serif;
                            font-size: 20px;
                            font-weight: 700;
                        }
                        li {
                            padding: 7px 0;
                            .lnr {
                                font-size: 20px;
                                vertical-align: middle;
                            }
                        }
                    }
                    .item-aminities {
                        h4 {
                            margin: 0 0 10px 0;
                        }
                        .lnr {
                            vertical-align: middle;
                            color: #66a400;
                        }
                    }
                    .item-best-deals {
                        border: none;
                        .price {
                            min-height: 105px;
                        }
                        .item-price {
                            font-size: 30px;
                            color: #66a400;
                            margin: 20px 0;
                            display: block;
                            font-family: Arial, Helvetica, Sans, Sans-Serif, Sans Serif;
                        }
                        .btn {
                            background: #66a400;
                            border: 1px solid #66a400;
                            border-bottom: 1px solid #4c7b00;
                            border-radius: 2px;
                            padding: 7px 5px;
                            font-size: 18px;
                            .lnr {
                                margin-top: 5px;
                            }
                        }
                    }
                }
                .item-slide-layout {
                    clear: both;
                    display: block;
                    padding: 10px;
                    display: none;
                }
            }
        }
        &.section-rooms-details {
            .form-wrapper {
                background-color: #FFF;
                padding: 10px;
                form {
                    button {
                        display: block;
                        width: 100%;
                    }
                }
            }
            .room-image {
                .item {
                    max-height: 500px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .nav-tabs {
                margin-top: 20px;
            }
            .tab-content {
                background-color: #FFF;
                .tab-pane {
                    padding: 20px;
                    .aminities {
                        li {
                            padding: 5px;
                        }
                    }
                    .overview {
                        li {
                            padding: 10px;
                            strong {
                                width: 150px;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-sidebar-secodary {
        margin-top: 3em;
    }
}

.loading {
    padding: 30px 0;
    text-align: center;
}