.main {
    section {
        .panel-customer-details,
        .panel-room-details {
            .panel-body {
                p {
                    padding: 5px 0;
                    border-bottom: 1px #e6e6e6 dashed;
                    color: #969696;
                    span.lbl {
                        display: inline-block;
                        width: 120px;
                    }
                    span.notes {
                        font-style: italic;
                        font-size: 12px;
                    }
                }
            }
            .panel-footer {
                .lbl {
                    display: inline-block;
                    width: 120px;
                }
                strong {
                    font-size: 20px;
                }
            }
        }
        &.section-step-indicator {
            margin-top: 10px;
            margin-bottom: 20px;
            .step {
                &:first-child {
                    @include border-left-radius(4px);
                }
                &:last-child {
                    @include border-right-radius(4px);
                }
                background-color: #17212c;
                color: $white;
                padding: 5px 15px;
                text-transform: uppercase;
                .counter {
                    border: solid 2px #969696;
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    border-radius: 75px;
                    margin-right: 20px;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 38px;
                    font-size: 20px;
                }
                &.active .counter {
                    background-color: #50a950;
                    color: #fff;
                    border-color: #3e8f3e;
                }
            }
        }
        &.section-banner {
            .booking-form {
                position: absolute;
                z-index: 999;
                background-color: rgba(255, 255, 255, 0.68);
                width: 100%;
                padding: 10px;
            }
            .carousel-inner {
                .item {
                    width: 100%;
                    max-height: 500px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        &.section-rooms-available {
            .item {
                margin-bottom: 30px;
            }
            .room-inner {
                position: relative;
                .room-details {
                    width: 100%;
                    background-color: rgba(255, 255, 255, 0.84);
                    position: absolute;
                    bottom: 0;
                    padding: 10px 0;
                    &:after {
                        content: '';
                        clear: Both;
                        display: block;
                    }
                    strong.price-container {
                        font-size: 25px;
                        margin-top: 20px;
                        display: block;
                        .price.soft-red {
                            color: #ee595d;
                        }
                        .currency.dark-gray2 {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        &.section-rooms-details {
            .form-wrapper {
                background-color: #FFF;
                padding: 10px;
                form {
                    button {
                        display: block;
                        width: 100%;
                    }
                }
            }
            .room-image {
                .item {
                    max-height: 500px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .nav-tabs {
                margin-top: 20px;
            }
            .tab-content {
                background-color: #FFF;
                .tab-pane {
                    padding: 20px;
                    .aminities {
                        li {
                            padding: 5px;
                        }
                    }
                    .overview {
                        li {
                            padding: 10px;
                            strong {
                                width: 150px;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-sidebar-secodary {
        margin-top: 3em;
    }
}

.loading {
    padding: 30px 0;
    text-align: center;
}