@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('proximanova-sbold.eot');
    src: url('proximanova-sbold.eot') format('embedded-opentype'),
         url('proximanova-sbold.woff') format('woff'),
         url('proximanova-sbold.ttf') format('truetype'),
         url('proximanova-sbold.svg#ProximaNovaSemibold') format('svg');
}
