@media (max-width:425px) {
    .main {
        .navbar-inverse {
            .navbar-brand {
                width: 200px;
                margin: 5px 0 5px 0;
                background-size: 100%;
            }
            .navbar-toggle {
                margin-right: 0;
                background-color: transparent;
                border: none;
                .icon-bar {
                    background-color: #333;
                }
            }
        }
        section {
            &.section-rooms-available {
                .item {
                    .img-area {
                        img {
                            width: 100%;
                        }
                    }
                    .item-flex-column {
                        .item-name,
                        .item-best-deals,
                        .item-best-deals .price {
                            border: none;
                            min-height: auto;
                        }
                        .item-details {
                            padding-left: 0;
                            h3 {
                                margin: 0 0 0 0;
                                font-size: 18px;
                            }
                            li {
                                padding: 2px 0;
                                .lnr {
                                    font-size: 14px;
                                }
                            }
                        }
                        .item-best-deals {
                            padding: 0;
                            border-top: 1px solid #cdd0d2;
                            margin-top: 10px;
                            .price {
                                width: 45%;
                                display: inline-block;
                                vertical-align: middle;
                            }
                            .btn {
                                width: 50%;
                                display: inline-block;
                                vertical-align: middle;
                                font-size: 16px;
                                .lnr {
                                    display: none;
                                }
                            }
                            .item-price {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}