<div class="main room-details" ng-controller="roomDetailsCtrl">
    <div ui-view="header"></div>
    <div ui-view="steps"></div>
    <section class="section-rooms-details section">
        <div class="container">
            <div class="box">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-title">{{ room.name }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-push-9">
                        <div class="form-wrapper">
                            <div class="room-detail_total text-center">
                                <h5>STARTING ROOM FROM</h5>
                                <div class="best-deals-main">
                                    <div class="best-deals-inner">
                                        <div class="price" ng-if="r.pivot.isActive==1 && r.isMonthly == 0" ng-repeat="r in room.rates">
                                            <span class="breakfast"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ r.isMonthly ? 'Monthly' : 'Nightly' }} rates with {{ r.mealType=='N' ? 'out' : '' }} breakfast as low as</span>
                                            <label class="item-price">‎<input name="rate_{{ r.id }}" type="radio" ng-model="booking.rateSelected" ng-if="room.rates.length > 1" ng-value="r" ng-init="$index == 0 ? booking.rateSelected = r : ''" ng-init="booking.rateSelected=r.id"/> {{ r.pivot.price | currency: '₱':0 }}</label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="room.isActive" class="booking-form">
                                <form autocomplete="off" novalidate="" ng-submit="book(bookingForm.$valid)" name="bookingForm" class="text-center" ng-class="{'form-inline': isInlineForm}">
                                    <button class="btn btn-success" ng-disabled="bookingForm.$invalid">Book Now</button>
                                </form>
                            </div>
                            <button ng-if="!room.isActive" class="btn btn-danger btn-block">Room is not available</button>
                        </div>



                    </div>
                    <!--/.col-md-3-->
                    <div class="col-md-9 col-md-pull-3">
                        <div class="room-inner">
                            <div class="room-image">
                                <div class="carousel-fade" template-url="/uib/template/carousel/carousel.html" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                                    <div uib-slide ng-repeat="photo in room.photos" index="$index">
                                        <img ng-src="{{ photo.file.orig }}" style="margin:auto;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-9-->
                </div>
                <!--/.row-->
                <div class="row">
                    <div class="col-md-9">
                        <uib-tabset>
                            <uib-tab index="0" heading="What’s around">
                                <ul class="list-unstyled overview">
                                    <li><strong><span class="lnr lnr-home"></span> Available Room</strong>: {{ room.totalRooms }}</li>
                                    <li><strong><span class="lnr lnr-user"></span> Persons Allowed</strong>: {{ room.totalPerson }}</li>
                                    <li ng-repeat="i in room.beds"><strong><span class="lnr lnr-user"></span> Bed</strong>: {{ i.qty }} {{ i.type }} </li>
                                    <li><strong><span class="lnr lnr-users"></span> Extra Bed</strong>: {{ room.extraBed }}</li>
                                    <li><strong><span class="lnr lnr-crop"></span> Room Size</strong>: {{ room.roomSize }} (sq.m)</li>
                                    <li><strong><span class="lnr lnr-users"></span> Bath Room</strong>: {{ room.bathrooms }}</li>
                                    <li><strong><span class="lnr lnr-apartment"></span> Building</strong>: {{ room.building }}</li>
                                    <li><strong><span class="lnr lnr-map"></span> Location</strong>: {{ room.location }}</li>
                                </ul>
                            </uib-tab>
                            <uib-tab index="1" heading="Main Aminities">
                                <ul class="list-unstyled aminities">
                                    <li ng-repeat="a in room.aminities"><span class="lnr lnr-checkmark-circle"></span> {{ a.name }}</li>
                                </ul>
                            </uib-tab>
                            <uib-tab index="2" heading="Calendar">
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <h3 class="page-title">{{ viewDate | date: 'MMMM yyyy' }}</h3>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group">
                                            <button class="btn btn-primary" mwl-date-modifier date="viewDate" decrement="calendarView">Previous</button>
                                            <button class="btn btn-default" mwl-date-modifier date="viewDate" set-to-today>Today</button>
                                            <button class="btn btn-primary" mwl-date-modifier date="viewDate" increment="calendarView">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <mwl-calendar cell-modifier="cellModifier(calendarCell)" events="events" view="calendarView" view-title="calendarTitle" view-date="viewDate" on-event-click="eventClicked(calendarEvent)" on-event-times-changed="eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                                        cell-is-open="cellIsOpen" day-view-start="06:00" day-view-end="22:59" day-view-split="30" cell-modifier="modifyCell(calendarCell)" cell-auto-open-disabled="true" on-timespan-click="timespanClicked(calendarDate, calendarCell)"
                                        custom-template-urls="{calendarMonthCell: 'customMonthCell.html'}">
                                    </mwl-calendar>
                                </div>

                            </uib-tab>

                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div ui-view="footer"></div>

    <script id="customMonthCell.html" type="text/ng-template">
        <div mwl-droppable on-drop="vm.handleEventDrop(dropData.event, day.date, dropData.draggedFromDate)" mwl-drag-select="!!vm.onDateRangeSelect" on-drag-select-start="vm.onDragSelectStart(day)" on-drag-select-move="vm.onDragSelectMove(day)" on-drag-select-end="vm.onDragSelectEnd(day)"
            class="cal-month-day {{ day.cssClass }}" ng-class="{
                'cal-day-notavailable': day.events.length > 0,
                'cal-day-outmonth': !day.inMonth,
                'cal-day-inmonth': day.inMonth,
                'cal-day-weekend': day.isWeekend,
                'cal-day-past': day.isPast,
                'cal-day-today': day.isToday,
                'cal-day-future': day.isFuture,
                'cal-day-selected': vm.dateRangeSelect && vm.dateRangeSelect.startDate <= day.date && day.date <= vm.dateRangeSelect.endDate,'cal-day-open': dayIndex === vm.openDayIndex}">

            <!-- data-cal-date  ng-click="vm.calendarCtrl.dateClicked(day.date)"-->
            <span class="pull-right day-label" ng-bind="day.label"></span>
            <small style="position: absolute; bottom: 10px; left: 5px" class="calendar-day-title" ng-if="day.events.length > 0">not available</small>
        </div>
    </script>
</div>