<div class="main room-details" ng-controller="roomDetailsCtrl">
    <div ui-view="header"></div>
    <div ui-view="steps"></div>
    <section class="section-rooms-details section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-title">{{ room.name }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="room-inner">
                        <div class="room-image">
                            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                                <div uib-slide ng-repeat="photo in room.photos" index="$index">
                                    <img ng-src="{{ photo.file.orig }}" style="margin:auto;">
                                </div>
                            </div>
                        </div>
                        <uib-tabset>
                            <uib-tab index="0" heading="Overview">
                                <ul class="list-unstyled overview">
                                    <li><strong><i class="fa fa-home" aria-hidden="true"></i> Available Room:</strong> {{ room.totalRooms }}</li>
                                    <li><strong><i class="fa fa-user" aria-hidden="true"></i> Persons Allowed:</strong> {{ room.totalPerson }}</li>
                                    <li><strong><i class="fa fa-bed" aria-hidden="true"></i> Bed:</strong> {{ room.bed }}</li>
                                    <li><strong><i class="fa fa-bed" aria-hidden="true"></i> Exra Bed:</strong> {{ room.extraBed }}</li>
                                    <li><strong><i class="fa fa-users" aria-hidden="true"></i> Room Size:</strong> {{ room.roomSize }} (sq.m)</li>
                                    <li><strong><i class="fa fa-asterisk" aria-hidden="true"></i> Bath Room:</strong> {{ room.bathrooms }}</li>
                                    <li><strong><i class="fa fa-building" aria-hidden="true"></i> Building:</strong> {{ room.building }}</li>
                                    <li><strong><i class="fa fa-map-marker" aria-hidden="true"></i> Location:</strong> {{ room.location }}</li>
                                </ul>
                            </uib-tab>
                            <uib-tab index="1" heading="Calendar">
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <h3 class="page-title">{{ viewDate | date: 'MMMM yyyy' }}</h3>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group">
                                            <button class="btn btn-primary" mwl-date-modifier date="viewDate" decrement="calendarView">Previous</button>
                                            <button class="btn btn-default" mwl-date-modifier date="viewDate" set-to-today>Today</button>
                                            <button class="btn btn-primary" mwl-date-modifier date="viewDate" increment="calendarView">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <mwl-calendar cell-modifier="cellModifier(calendarCell)" events="events" view="calendarView" view-title="calendarTitle" view-date="viewDate" on-event-click="eventClicked(calendarEvent)" on-event-times-changed="eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                                        cell-is-open="cellIsOpen" day-view-start="06:00" day-view-end="22:59" day-view-split="30" cell-modifier="modifyCell(calendarCell)" cell-auto-open-disabled="true" on-timespan-click="timespanClicked(calendarDate, calendarCell)"
                                        custom-template-urls="{calendarMonthCell: 'customMonthCell.html'}">
                                    </mwl-calendar>
                                </div>

                            </uib-tab>
                            <uib-tab index="2" heading="Aminities">
                                <ul class="list-unstyled aminities">
                                    <li ng-repeat="a in room.aminities"><i class="fa fa-check" aria-hidden="true"></i> {{ a.name }}</li>
                                </ul>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-wrapper">
                        <div class="room-detail_total text-center">
                            <h5>STARTING ROOM FROM</h5>
                            <p class="price"><span class="amount"><i class="cur">Php</i> 800.00 <i>/day</i></span>
                                <br/><span class="amount monthly"><i class="cur">Php</i> 12,000.00 <i>/month</i></span>
                            </p>
                        </div>
                        <div ng-if="room.isActive" class="booking-form">
                            <form autocomplete="off" novalidate="" ng-submit="book(bookingForm.$valid)" name="bookingForm" class="text-center" ng-class="{'form-inline': isInlineForm}">
                                <div class="form-group" ng-class="{ 'has-error': bookingForm.checkIn.$touched && bookingForm.checkIn.$invalid }">
                                    <div class="input-group" moment-picker="booking.checkIn" format="YYYY-MM-DD">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        <input autocomplete="off" class="form-control" name="checkIn" placeholder="Check In" ng-model="booking.checkIn" ng-model-options="{ updateOn: 'blur' }" ng-required="true" required>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{'has-error':  bookingForm.checkOut.$touched && bookingForm.checkOut.$invalid}">
                                    <div class="input-group" min-date="booking.checkIn" moment-picker="booking.checkOut" format="YYYY-MM-DD">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        <input autocomplete="off" name="checkOut" class="form-control" placeholder="Check Out" ng-model="booking.checkOut" ng-model-options="{ updateOn: 'blur' }" ng-required="true" required>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{'has-error':  bookingForm.noRooms.$touched && bookingForm.noRooms.$invalid}">
                                    <select name="room" class="form-control" data-ng-model="booking.noRooms">
                                        <option value="">Rooms</option>
                                        <option ng-repeat="i in [] | range:1:room.totalRooms">{{ i }}</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6" ng-class="{'has-error':  bookingForm.adult.$touched && bookingForm.adult.$invalid}">
                                        <select name="adult" class="form-control" data-ng-model="booking.adult" ng-required="true" required>
                                        <option value="">Adult</option>
                                            <option ng-repeat="i in [] | range:1:room.totalPerson">{{ i }}</option>
                                    </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <select name="child" class="form-control" data-ng-model="booking.child">
                                        <option value="0">Child</option>
                                        <option ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{ i }}</option>
                                    </select>
                                    </div>
                                </div>
                                <button class="btn btn-success" ng-disabled="bookingForm.$invalid">Book Now</button>
                            </form>
                        </div>
                        <button ng-if="!room.isActive" class="btn btn-danger btn-block">Room is not available</button>
                    </div>

                </div>



            </div>
        </div>
    </section>
    <div ui-view="footer"></div>

    <script id="customMonthCell.html" type="text/ng-template">
        <div mwl-droppable on-drop="vm.handleEventDrop(dropData.event, day.date, dropData.draggedFromDate)" mwl-drag-select="!!vm.onDateRangeSelect" on-drag-select-start="vm.onDragSelectStart(day)" on-drag-select-move="vm.onDragSelectMove(day)" on-drag-select-end="vm.onDragSelectEnd(day)"
            class="cal-month-day {{ day.cssClass }}" ng-class="{
                'cal-day-outmonth': !day.inMonth,
                'cal-day-inmonth': day.inMonth,
                'cal-day-weekend': day.isWeekend,
                'cal-day-past': day.isPast,
                'cal-day-today': day.isToday,
                'cal-day-future': day.isFuture,
                'cal-day-selected': vm.dateRangeSelect && vm.dateRangeSelect.startDate <= day.date && day.date <= vm.dateRangeSelect.endDate,'cal-day-open': dayIndex === vm.openDayIndex}">

            <!-- data-cal-date  ng-click="vm.calendarCtrl.dateClicked(day.date)"-->
            <span class="pull-right" ng-bind="day.label"></span>
            <small style="position: absolute; bottom: 10px; left: 5px" ng-repeat="event in day.events">{{ event.isActive && event.data.availability > 0 ? event.data.availability : 'Not'  }} Available</small>
        </div>
    </script>
</div>