<div class="main room-listings" ng-controller="roomAvailableCtrl">
    <div ui-view="header"></div>
    <section class="section-rooms-available section">
        <div class="container">
            <form name="roomListing">
                <div class="row">
                    <div class="loading" ng-hide="loaded">Loading...</div>
                    <div class="col-md-3 hidden-xs" ng-if="roomLists.length > 0">
                        <div class="sidebar room-filter">
                            <div class="filter filter-building">
                                <h5><span class="lnr lnr-apartment"></span> Building</h5>
                                <ul class="list-unstyled">
                                    <li>
                                        <label>
                                            <input type="radio" ng-model="filter.building" value=""/> All
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                        <input type="radio" ng-model="filter.building" value="main" /> Main
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                        <input type="radio" ng-model="filter.building" value="east"/> East
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <!--/.filter-->
                            <div class="filter filter-room-type">
                                <h5><span class="lnr lnr-layers"></span> Bed</h5>
                                <ul class="list-unstyled">
                                    <li ng-repeat="r in roomTypeLists">
                                        <label>
                                            <input type="checkbox" ng-model="filter.roomType[r]" ng-init="filter.roomType[r]=true"/> {{ r }}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <!--/.filter-->

                            <div class="filter filter-price">
                                <h5><span class="lnr lnr-tag"></span> Price</h5>
                                <rzslider rz-slider-model="filter.pricing.value" rz-slider-options="filter.pricing.options"></rzslider>
                            </div>
                            <!--/.filter-->
                            <div class="filter filter-search">
                                <h5>Search room name</h5>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="filter.search" placeholder="Search room name">
                                        <div class="input-group-addon"><span class="lnr lnr-magnifier"></span></div>
                                    </div>
                                </div>
                            </div>
                            <!--/.filter-->
                            <div class="filter filter-reset">

                                <button type="button" ng-click="resetFilter()" class="btn btn-default btn-block">Reset Filters</button>

                            </div>
                            <!--/.filter-->
                        </div>
                    </div>
                    <div class="col-md-9" ng-if="roomLists.length > 0">
                        <span id="js_hotel_count" class="available-number hidden-xs"><strong class="result_count">{{ result.length }}</strong> out of {{ roomLists.length }} rooms</span>
                        <ul class="list-unstyled">
                            <li class="item" ng-repeat="room in result = (roomLists | filter: { name: filter.search, building: filter.building } | filter: lessThanEqualTo(filter.pricing.value) | filter: hasThisBedTypes(filter.roomType))">
                                <div class="panel panel-default panel-customer-details">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{ room.name }}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="img-area col-md-3 col-xs-4">
                                            <div class="img-inner">
                                                <a ng-click="togglePictures($index)"><span class="lnr lnr-picture"></span></a>
                                                <img ng-src="{{ room.photos[0].file.thumbs }}">
                                            </div>
                                        </div>
                                        <div class="item-flex-column col-md-9 col-xs-8">
                                            <div class="item-details col-md-4">
                                                <div itemprop="name" class="item-name">
                                                    <h4>Overview</h4>
                                                    <ul class="list-unstyled overview">
                                                        <li ng-repeat="bed in room.beds"><span class="lnr lnr-layers"></span> {{ bed.qty }} {{ bed.type }}</li>
                                                        <li><span class="lnr lnr-apartment"></span> Building: {{ room.building }}</li>
                                                        <li><span class="lnr lnr-map"></span> Location: {{ room.location }}</li>
                                                        <li><a ui-sref="accomodation" target="_blank"><span class="lnr lnr-lock"></span> Policy</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="item-aminities col-md-4 hidden-xs">
                                                <h4>Aminities</h4>
                                                <ul class="list-unstyled aminities">
                                                    <li ng-repeat="a in room.aminities | limitTo:8"><span class="lnr lnr-checkmark-circle"></span> {{ a.name }}</li>
                                                </ul>
                                            </div>
                                            <div class="item-best-deals col-md-4">
                                                <div class="best-deals-main text-center">
                                                    <div class="best-deals-inner">
                                                        <div class="price" ng-class="{'monthly': r.isMonthly, 'nightly': !r.isMonthly}" ng-if="r.pivot.isActive==1" ng-repeat="r in room.rates">
                                                            <span class="breakfast"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ r.isMonthly ? 'Monthly' : 'Nightly' }} rates with {{ r.mealType=='N' ? 'out' : '' }} breakfast as low as</span>
                                                            <strong class="item-price">‎{{ r.pivot.price | currency: '₱':0 }}</strong>
                                                        </div>
                                                    </div>
                                                    <a ui-sref="roomDetail({slug: room.slug})" class="btn btn-success btn-block">View Deal <span class="lnr lnr-chevron-right pull-right"></span></a>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="item-slide-layout" ng-class="{'active': room.showPictures == 1}">
                                            <div class="photo-wrap">
                                                <a class="pull-right" ng-click="togglePictures($index)"><span class="lnr lnr-cross"></span></a>
                                                <ul class="list-inline">
                                                    <li class="photo-item" ng-click="openLightboxModal(room.photos, $index, room.name)" ng-repeat="photo in room.photos track by $index">
                                                        <a><span class="lnr lnr-picture"></span></a>
                                                        <img ng-src="{{ photo.file.thumbs }}">
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
            </form>
            </div>
    </section>
    <div ui-view="footer"></div>
    </div>