<div class="booking-form" ng-controller="bookingFormCtrl">
    <form novalidate="" name="bookingForm" class="form-inline text-center">
        <div class="form-group">
            <div class="input-group" moment-picker="booking.checkIn" format="YYYY-MM-DD">
                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                <input class="form-control" placeholder="Check In" ng-model="booking.checkIn" ng-model-options="{ updateOn: 'blur' }">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group" moment-picker="booking.checkOut" format="YYYY-MM-DD">
                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                <input class="form-control" placeholder="Check Out" ng-model="booking.checkOut" ng-model-options="{ updateOn: 'blur' }">
            </div>
        </div>
        <div class="form-group">
            <select name="arrival" class="form-control" data-ng-model="booking.adult">
                        <option value="">Adult</option>
                        <option ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{ i }}</option>
                    </select>
        </div>
        <div class="form-group">
            <select name="child" class="form-control" data-ng-model="booking.child">
                        <option value="">Child</option>
                        <option ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{ i }}</option>
                    </select>
        </div>
        <button class="btn btn-success">Check Availability</button>
    </form>
</div>