<footer class="footer">
    <div class="navbar-bottom">
        <div class="contaner">
            <div class="footer-nav">
                <ul class="list-inline text-center">
                    <li><a ui-sref="contact">Contact &amp; Location</a></li>
                    <li><a ui-sref="about">About Us</a></li>
                    <li><a href="javascript:void(0);">Careers</a></li>
                    <li><a href="javascript:void(0);">Packages &amp; Promotions</a></li>
                    <li><a ui-sref="policy">Privacy | Terms</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-address">
        <div class="container">
            <div class="address text-center">
                <ul class="address list-inline">
                    <li class="facebook"> <a href="https://www.facebook.com/pages/Copenhagen-Residences/772245752803648" target="_blank"><span class="fa fa-facebook"></span></a></li>
                    <li class="twitter"> <a href="https://twitter.com/CopenhagenCebu" target="_blank"><span class="fa fa-twitter"></span></a></li>
                    <li class="pinterest"> <a href="https://www.pinterest.com/" target="_blank"><span class="fa fa-pinterest"></span></a></li>
                    <li><a>A.C. Cortes Avenue Mandaue City 6014, Cebu Phils.</a></li>
                    <li><a>(032) 2384639, 2385684, 2385485, 4141914</a></li>
                    <li><a>(032) 2385026</a></li>
                    <li><a class="mailto:info-cebu@copenhagen.ph">info-cebu@copenhagen.ph</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="l-footer-secondary">
        <div class="container">
            <h1 class="footer-brand">Copenhagen Cebu Accommodation &amp; Long Term Stay Cebu Serviced Apartments</h1>
            <p class="copyright text-center">Copyright © 2006 - 2014 copenhagen.ph</p>
        </div>
    </div>
</footer>
<script type="text/ng-template" id="globalPopup.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">×</span></button>
        <h3 class="modal-title" id="modal-title" ng-bind-html="modalTitle | unsafe"></h3>
    </div>
    <div class="modal-body" id="modal-body" ng-bind-html="modalMessage | unsafe">
    </div>
    <div class="modal-footer" ng-hide="!showButton">
        <button class="btn btn-default" ng-click="cancel()" type="button">Cancel</button>
        <button type="submit" ng-click="ok()" class="btn btn-primary" type="button">Apply</button>
    </div>
</script>
<script type="text/ng-template" id="carousel.html">
    <div class="carousel-inner" ng-transclude></div>
    <a role="button" href class="left carousel-control" ng-click="prev()" ng-class="{ disabled: isPrevDisabled() }" ng-show="slides.length > 1">
        <span class="lnr lnr-chevron-left"></span>
        <span class="sr-only">previous</span>
    </a>
    <a role="button" href class="right carousel-control" ng-click="next()" ng-class="{ disabled: isNextDisabled() }" ng-show="slides.length > 1">
        <span class="lnr lnr-chevron-right"></span>
        <span class="sr-only">next</span>
    </a>

    <ol class="carousel-indicators" ng-show="slides.length > 1">
        <li ng-repeat="slide in slides | orderBy:indexOfSlide track by $index" ng-class="{ active: isActive(slide) }" ng-click="select(slide)">
            <span class="sr-only">slide {{ $index + 1 }} of {{ slides.length }}<span ng-if="isActive(slide)">, currently active</span></span>
        </li>
    </ol>
</script>