<footer class="footer">
    <div class="navbar-bottom">
        <div class="contaner">
            <div class="footer-nav">
                <ul class="list-inline text-center">
                    <li><a ui-sref="contact">Contact &amp; Location</a></li>
                    <li><a ui-sref="about">About Us</a></li>
                    <li><a href="http://copenhagen.ph/careers/">Careers</a></li>
                    <li><a href="http://copenhagen.ph/packages-promotions/">Packages &amp; Promotions</a></li>
                    <li><a ui-sref="policy">Privacy | Terms</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="l-footer-secondary">
        <div class="container">
            <h1 class="footer-brand">Copenhagen Cebu Accommodation &amp; Long Term Stay Cebu Serviced Apartments</h1>
            <p class="copyright text-center">Copyright © 2006 - 2014 copenhagen.ph</p>
        </div>
    </div>
</footer>
<script type="text/ng-template" id="globalPopup.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">×</span></button>
        <h3 class="modal-title" id="modal-title" ng-bind-html="modalTitle | unsafe"></h3>
    </div>
    <div class="modal-body" id="modal-body" ng-bind-html="modalMessage | unsafe">
    </div>
    <div class="modal-footer" ng-hide="!showButton">
        <button class="btn btn-default" ng-click="cancel()" type="button">Cancel</button>
        <button type="submit" ng-click="ok()" class="btn btn-primary" type="button">Apply</button>
    </div>
</script>