<nav class="navbar navbar-inverse" ng-controller="headerCtrl">

    <div class="menu-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <a class="navbar-brand" ui-sref="home"></a>
                    </div>
                    <div class="navbar-right">
                        <ul class="nav navbar-nav pull-left">
                            <li>
                                <div id="google_translate_element" class="site-language"></div>
                            </li>
                        </ul>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" ng-init="isCollapsed=true" ng-click="isCollapsed = !isCollapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-left">
                        <div id="navbar" class="collapse navbar-collapse no-animate" uib-collapse="isCollapsed">
                            <ul class="nav navbar-nav">
                                <li ng-class="{ active: isActive('/')}"><a ui-sref="home">Home</a></li>
                                <li ng-class="{ active: isActive('/available-rooms-cebu-hotels')}"><a ui-sref="roomsAvailable">Rooms &amp; Suites</a></li>
                                <li ng-class="{ active: isActive('/about-ironwood')}"><a ui-sref="pageDetail({slug: 'about-ironwood' })">About Us</a></li>
                                <!--<li ng-class="{ active: isActive('/accommodations')}"><a ui-sref="roomsAvailable">Accommodations <span class="lnr lnr-chevron-down"></span></a></li>-->
                                <!--<li ng-class="{ active: isActive('/dining')}" uib-dropdown is-open="status.isopen">
                                    <a uib-dropdown-toggle>Dining <span class="lnr lnr-chevron-down"></span></a>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                        <li role="menuitem"><a href="#">Chips Cafe</a></li>
                                    </ul>
                                </li>-->
                                <li ng-class="{ active: isActive('/meetings')}"><a ui-sref="pageDetail({slug: 'meetings' })">Mettings</a></li>
                                <li ng-class="{ active: isActive('/gallery')}"><a ui-sref="gallery">Gallery</a></li>
                                <li ng-class="{ active: isActive('/policy')}"><a ui-sref="pageDetail({slug: 'policy' })">Policy</a></li>
                                <li ng-class="{ active: isActive('/contact-location')}"><a ui-sref="contact">Contact Us</a></li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="booking-box" ng-hide="bookingFormTopHide">
        <div class="container">
            <div class="booking-form" ng-controller="bookingFormCtrl">
                <div ui-view="bookingForm"></div>
            </div>
        </div>
    </div>

</nav>