<div class="admin-main" ng-controller="calendarCtrl">
    <div ui-view="header"></div>
    <section class="section-calendar section">
        <div class="col-md-8">
            <div class="room-type">
                <div class="form-group row">
                    <label for="" class="col-md-4">Room Type</label>
                    <div class="col-md-8">
                        <select name="roomType" class="form-control" ng-model="calendar.roomType" ng-options="val.name for val in roomTypes track by val.id"></select>
                    </div>
                </div>
                <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
            </div>

        </div>
        <!--/.col-md-8-->
        <div class="col-md-4">
            <form ng-submit="saveCalendar(calendarForm.$valid)" novalidate="" name="calendarForm">
                <input type="hidden" ng-model="calendar.roomID" ng-init="calendar.roomID = calendar.roomType.id">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="">From:</label>
                        <input class="form-control" ng-model="calendar.from" ng-model-options="{ updateOn: 'blur' }" format="YYYY-MM-DD" moment-picker="calendar.from">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">To:</label>
                        <input class="form-control" ng-model="calendar.to" ng-model-options="{ updateOn: 'blur' }" format="YYYY-MM-DD" moment-picker="calendar.to">
                    </div>
                </div>
                <h3>Availability</h3>
                <hr>
                <div class="form-group row">
                    <label for="" class="col-md-6">{{calendar.roomType.name}}</label>
                    <div class="col-md-3">
                        <input type="text" name="qty" ng-model="calendar.availability" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <toggle ng-model="calendar.isActive" onstyle="btn-success" size="btn-sm"></toggle>
                    </div>
                </div>
                <h3>Rate Plan</h3>
                <hr>
                <div class="form-group row">
                    <label for="" class="col-md-6">Room Only</label>
                    <div class="col-md-6">
                        <toggle ng-model="calendar.roomOnly" onstyle="btn-success" size="btn-sm"></toggle>
                    </div>
                </div>
                <div class="form-group row" ng-hide="calendar.roomOnly">
                    <label for="" class="col-md-6">Single</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" name="single" ng-model="calendar.single">
                    </div>
                </div>
                <div class="form-group row" ng-hide="calendar.roomOnly">
                    <label for="" class="col-md-6">Double</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" name="double" ng-model="calendar.double">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-md-6">Min Stay</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" name="minStay" ng-model="calendar.minStay">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-md-6">Max Stay</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" name="maxStay" ng-model="calendar.maxStay">
                    </div>
                </div>

                <button type="submit" ng-disabled="calendarForm.$invalid" class="btn btn-success">Save</button>
                <button type="reset" class="btn btn-default">Cancel</button>
            </form>
        </div>
        <!--/.col-md-4-->

    </section>
</div>