<div class="main" ng-controller="pageCtrl">
    <div ui-view="header"></div>
    <section class="section-page section">
        <div class="container">
            <h1 class="text-center">About us</h1>
            <p>The Copenhagen Building in Cebu hosts Copenhagen Residences. The city’s best solution for affordable short term or <a href="https://en.wikipedia.org/wiki/Hotel">long term accommodation</a> needs. You can stay either in the new Copenhagen main
                Building with all hotel amenities or if you are travelling on a budget you can stay at Copenhagen East in close proximity to the main building. The interiors were designed by local interior designer Ms. Louise Crisostomo specifically for
                the Copenhagen Residences. It is one of the finest modern buildings in the greater Cebu area and features all hotel services. It was commissioned by the Ironwood Property Ventures Corporation, a Filipino company.</p>
        </div>
    </section>
    <div ui-view="footer"></div>
</div>