<div class="main" ng-controller="pageCtrl">
    <div ui-view="header"></div>
    <section class="section-page section">
        <div class="container">
            <h1 class="text-center">Accommodation</h1>
            <h2>Studio Room Features &amp; Amenities</h2>
            <ul class="list-unstyled">
                <li><span class="lnr lnr-checkmark-circle"></span>32” LCD TV with cable</li>
                <li><span class="lnr lnr-checkmark-circle"></span>Free WIFI access</li>
                <li><span class="lnr lnr-checkmark-circle"></span>Refrigerator</li>
                <li><span class="lnr lnr-checkmark-circle"></span>Air condition Split Type Inverter</li>
                <li><span class="lnr lnr-checkmark-circle"></span>Telephone</li>
                <li><span class="lnr lnr-checkmark-circle"></span>Working desk and chair</li>
                <li><span class="lnr lnr-checkmark-circle"></span>Microwave oven</li>
                <li><span class="lnr lnr-checkmark-circle"></span>Hot &amp; cold shower</li>
                <li><span class="lnr lnr-checkmark-circle"></span>Balcony (except for Studio Regular)</li>
                <li><span class="lnr lnr-checkmark-circle"></span>Kitchen, breakfast nook and range hood (Except for Studio Mini)</li>
                <li><span class="lnr lnr-checkmark-circle"></span>Louvre partition for the kitchen and bed (Except for Studio Mini)</li>
            </ul>
            <h2>Check in Time &amp; Policies</h2>
            <ul class="list-unstyled">
                <li><span class="lnr lnr-checkmark-circle"></span>Check in time: 2pm</li>
                <li><span class="lnr lnr-checkmark-circle"></span>Check out time : 12 noon</li>
                <li><span class="lnr lnr-checkmark-circle"></span>24-hour Front Desk</li>
            </ul>
            <h2>Early Arrivals & Late Departures</h2>
            <ul class="list-unstyled">
                <li><span class="lnr lnr-checkmark-circle"></span>Early morning check-in will be charged one (1) night room accommodation.</li>
                <li><span class="lnr lnr-checkmark-circle"></span>Late check-out until 5pm will be charged 50% from the room rate</li>
                <li><span class="lnr lnr-checkmark-circle"></span>Late check-out beyond 6pm will be charged 1 night room accommodation.</li>
                <li><span class="lnr lnr-checkmark-circle"></span>Early check-in and check-out subject to room availability</li>
                <li><span class="lnr lnr-checkmark-circle"></span>6,000 pesos security deposit for monthly guest.</li>
            </ul>
            <h2>Cancellation and No Show Policy</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Period</th>
                        <th></th>
                        <th>PENALTY (for all rooms booked will apply)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Peak Season</td>
                        <td>31-45 days</td>
                        <td>50%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>30 days &amp; below/no show</td>
                        <td>100%</td>
                    </tr>
                    <tr>
                        <td>Lean Season</td>
                        <td>22-25 days</td>
                        <td>50%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>21 &amp; below/no show</td>
                        <td>100%</td>
                    </tr>
                </tbody>
            </table>
            <h2>Payments</h2>
            <p>All major credit cards</p>
        </div>
    </section>
    <div ui-view="footer"></div>
</div>