<div class="admin-main" ng-controller="calendarCtrl">
    <div ui-view="header"></div>
    <section class="section-calendar section">
        <div class="col-md-8">
            <div class="calendar-main">
                <div class="form-group row">
                    <label for="" class="col-md-4">Room Type</label>
                    <div class="col-md-8">
                        <select name="roomType" ng-change="updateCalendar()" class="form-control" ng-model="calendar.roomType" ng-options="val.title for val in roomTypes track by val.id"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <h3 class="page-title">{{ viewDate | date: 'MMMM yyyy' }}</h3>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="btn-group">
                            <button class="btn btn-primary" ng-click="changeCalendarViewMonth(viewDate)" mwl-date-modifier date="viewDate" decrement="calendarView">
                                Previous
                            </button>
                            <button class="btn btn-default" ng-click="changeCalendarViewMonth(viewDate)" mwl-date-modifier date="viewDate" set-to-today>
                                Today</button>
                            <button class="btn btn-primary" ng-click="changeCalendarViewMonth(viewDate)" mwl-date-modifier date="viewDate" increment="calendarView">
                                Next
                            </button>
                        </div>
                    </div>
                </div>

                <mwl-calendar custom-template-urls="{calendarMonthCell: 'customMonthCell.html'}" view="calendarView" view-date="viewDate" events="events" view-title="calendarTitle" on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                    cell-is-open="false" cell-auto-open-disabled="true" on-timespan-click="timespanClicked(calendarDate, calendarCell)" on-date-range-select="rangeSelected(calendarRangeStartDate, calendarRangeEndDate)">
                </mwl-calendar>
            </div>

        </div>
        <!--/.col-md-8-->
        <div class="col-md-4">
            <div class="calendar-form-main">
                <form ng-if="hasSelectedDate" ng-submit="saveCalendar(calendarForm.$valid)" novalidate="" name="calendarForm">
                    <input type="hidden" ng-model="calendar.roomID" ng-init="calendar.roomID = calendar.roomType.id">
                    <div class="row selected-date-content">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">From</label>
                                <div moment-picker="calendar.from" autoclose="true" ng-model-options="{ updateOn: 'blur' }" format="YYYY-MM-DD">
                                    <div class="display-select-date" style="overflow:auto;">
                                        <div class="" style="float: left; padding:0 5px; ">
                                            <p class="display-date ng-binding">{{ calendar.from | date: 'dd' }}</p>
                                        </div>
                                        <div class="" style="float: left; ">
                                            <p class="display-month-year ng-binding">{{ calendar.from | date: 'EEE' }} <br> {{ calendar.from | date: 'MMM yyyy' }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">To</label>
                                <div moment-picker="calendar.to" autoclose="true" ng-model-options="{ updateOn: 'blur' }" format="YYYY-MM-DD">
                                    <div class="display-select-date" style="overflow:auto;">
                                        <div class="" style="float: left; padding:0 5px; ">
                                            <p class="display-date ng-binding">{{ calendar.to | date: 'dd' }}</p>
                                        </div>
                                        <div class="" style="float: left; ">
                                            <p class="display-month-year ng-binding">{{ calendar.to | date: 'EEE' }} <br> {{ calendar.to | date: 'MMM yyyy' }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3>Availability</h3>
                    <hr>
                    <div class="form-group row">
                        <label for="" class="col-xs-12 col-md-6">{{calendar.roomType.name}}</label>
                        <div class="col-xs-8 col-md-3">
                            <input type="number" name="qty" ng-model="calendar.availability" min="0" ng-min="0" class="form-control">
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <toggle ng-model="calendar.isActive" onstyle="btn-success" size="btn-sm"></toggle>
                        </div>
                    </div>
                    <h3>Rate Plan</h3>
                    <hr>
                    <div class="form-group row" ng-if="r.pivot.isActive == 1 && r.isMonthly == 0" ng-repeat="r in calendar.roomType.rates | filter:pivot.isActive:1">
                        <label class="control-label col-xs-12 col-sm-4">{{ r.name }}</label>
                        <div class="col-xs-8 col-sm-4">
                            <input type="number" ng-model="calendar.calendarRates[r.id].price" min="0" ng-min="0" class="form-control" ng-disabled="!calendar.calendarRates[r.id].active">
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <toggle ng-model="calendar.calendarRates[r.id].active" on="Yes" off="No" onstyle="btn-success" size="btn-sm"></toggle>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <button type="submit" ng-disabled="calendarForm.$invalid" class="btn-block btn btn-success">Save</button>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <button type="reset" class="btn-block btn btn-default">Cancel</button>
                        </div>
                    </div>
                </form>
                <div ng-if="!hasSelectedDate" class="no-date-selected text-center">
                    <h2>No dates selected</h2>
                    <p>Please select the date range on the calendar</p>
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <!--/.col-md-4-->
        <div ui-view="footer"></div>
    </section>
    <script id="customMonthCell.html" type="text/ng-template">
        <div mwl-droppable on-drop="vm.handleEventDrop(dropData.event, day.date, dropData.draggedFromDate)" mwl-drag-select="!!vm.onDateRangeSelect" on-drag-select-start="vm.onDragSelectStart(day)" on-drag-select-move="vm.onDragSelectMove(day)" on-drag-select-end="vm.onDragSelectEnd(day)"
            class="cal-month-day {{ day.cssClass }}" ng-class="{
                'cal-day-outmonth': !day.inMonth,
                'cal-day-inmonth': day.inMonth,
                'cal-day-weekend': day.isWeekend,
                'cal-day-past': day.isPast,
                'cal-day-today': day.isToday,
                'cal-day-future': day.isFuture,
                'cal-day-selected': vm.dateRangeSelect && vm.dateRangeSelect.startDate <= day.date && day.date <= vm.dateRangeSelect.endDate,'cal-day-open': dayIndex === vm.openDayIndex}">

            <!-- data-cal-date  ng-click="vm.calendarCtrl.dateClicked(day.date)"-->
            <span class="pull-right day-label" ng-bind="day.label"></span>
            <small style="position: absolute; bottom: 10px; left: 5px" class="calendar-day-title" ng-repeat="event in day.events" ng-bind-html="event.title | unsafe"></small>
        </div>
    </script>
</div>