<div class="admin-main" ng-controller="profileCtrl">
    <div ui-view="header"></div>
    <section class="section-rate section">
        <!--/.col-md-8-->
        <div class="col-md-4 col-md-offset-4">
            <div class="rate-form-main">
                <form ng-submit="update(userForm.$valid)" novalidate="" name="userForm">
                    <h3>Profile</h3>
                    <hr>
                    <div class="form-group row" ng-class="{ 'has-error': userForm.username.$touched && userForm.username.$invalid }">
                        <label for="" class="control-label col-md-6">Username</label>
                        <div class="col-md-6">
                            <input type="text" name="username" data-min="5" ng-model="user.username" class="form-control" ng-requred="true" ng-readonly="isReadOnly" required>
                        </div>
                    </div>
                    <div class="form-group row" ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid }">
                        <label for="" class="control-label col-md-6">Email</label>
                        <div class="col-md-6">
                            <input type="text" name="email" ng-model="user.email" class="form-control" ng-requred="true" ng-readonly="isReadOnly" required>
                        </div>
                    </div>
                    <div class="form-group row" ng-class="{ 'has-error': userForm.password.$touched && userForm.password.$invalid }">
                        <label for="" class="control-label col-md-6">Password</label>
                        <div class="col-md-6">
                            <input type="password" name="password" ng-model="user.password" class="form-control" ng-requred="true" ng-readonly="isReadOnly" required>
                        </div>
                    </div>
                    <div class="form-group row" ng-class="{ 'has-error': userForm.password2.$touched && userForm.password2.$invalid }">
                        <label for="" class="control-label col-md-6">Confirm Password</label>
                        <div class="col-md-6">
                            <input type="password" name="password2" ng-model="user.password2" class="form-control" ng-requred="true" ng-match="user.password" ng-readonly="isReadOnly" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="pull-right">
                            <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-success">Save</button>
                            <a ng-click="isReadOnly=!isReadOnly" class="btn btn-default">{{ isReadOnly ? 'Edit' : 'Done' }}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div ui-view="footer"></div>
    </section>
</div>