<div class="admin-main" ng-controller="roomCtrl">
    <div ui-view="header"></div>
    <section class="section-rooms section">
        <div class="col-md-12">
            <div class="actions">
                <div class="pull-right">
                    <button class="btn btn-warning" ng-click="addNewRoom()"><i class="fa fa-plus" aria-hidden="true"></i> Add Room</button>
                </div>
                <h1>Room Setup</h1>
                <h5>Total room types {{ roomLists.length }}</h5>

            </div>
        </div>
        <div class="col-md-12">
            <div class="loading" ng-hide="loaded">Loading...</div>
            <uib-accordion close-others="oneAtATime" ng-show="roomLists.length">
                <div uib-accordion-group ng-repeat="room in roomLists" class="panel-default" photo="{{ room.photos.length }}" roomID="{{room.id}}" heading="{{ room.name +'('+ room.building +')' }}">
                    <uib-accordion-heading>
                        <div class="row">
                            <div class="col-xs-2 col-md-2">#{{room.id}}</div>
                            <div class="col-xs-6 col-md-4">{{room.name }} - {{ room.building | uppercase }}</div>
                            <div class="hidden-xs col-md-2">Photos {{room.photos.length}}</div>
                            <div class="hidden-xs col-md-2">Persons {{room.totalPerson}}</div>
                            <div class="col-xs-4 col-md-2">
                                <span class="badge" ng-class="{'active' : room.isActive, 'inactive' : !room.isActive }">{{room.isActive ? 'active' : 'inactive'}}</span>
                            </div>
                        </div>
                    </uib-accordion-heading>
                    <form name="roomForm" class="form-horizontal" ng-submit="save(roomForm.$valid, room)" novalidate>
                        <div class="form-row">
                            <div class="col-md-4">
                                <h4>Basic Info</h4>
                                <div class="form-group" ng-class="{ 'has-error': roomForm.name.$touched && roomForm.name.$invalid }">
                                    <label class="control-label col-sm-4" for="name">Room Name <span class="req">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="name" ng-model="room.name" class="form-control" ng-required="true" required>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': roomForm.totalRooms.$touched && roomForm.totalRooms.$invalid }">
                                    <label class="control-label col-sm-4" for="totalRooms">No. of Rooms <span class="req">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="number" name="totalRooms" ng-model="room.totalRooms" ng-max="10" ng-min="1" class="form-control" ng-required="true" required>
                                    </div>
                                </div>
                                <div class="form-group" ng-repeat="r in rateLists | filter:pivot.isActive:1">
                                    <label class="control-label col-xs-12 col-sm-4">{{ r.name }}</label>
                                    <div class="col-xs-8 col-sm-4">
                                        <input type="number" ng-model="room.roomRates[r.id].price" ng-init="room.roomRates[r.id].price=(room.roomRates[r.id].price || 0)" min="0" ng-min="0" class="form-control" ng-disabled="room.roomRates[r.id].isActive == 0">
                                    </div>
                                    <div class="col-xs-4 col-sm-4">
                                        <toggle ng-model="room.roomRates[r.id].isActive" ng-init="room.roomRates[r.id].isActive=(room.roomRates[r.id].isActive || false)" on="Yes" off="No" onstyle="btn-success" size="btn-sm"></toggle>
                                    </div>
                                </div>
                            </div>
                            <!--/.col-md-4-->
                            <div class="col-md-4">
                                <h4>Occupancy Settings</h4>
                                <div class="form-group" ng-class="{ 'has-error': roomForm.building.$touched && roomForm.building.$invalid }">
                                    <label class="control-label col-sm-4" for="building">Building <span class="req">*</span></label>
                                    <div class="col-sm-8">
                                        <select name="building" class="form-control" data-ng-model="room.building">
                                            <option ng-repeat="i in ['main', 'east']">{{ i }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': roomForm.totalPerson.$touched && roomForm.totalPerson.$invalid }">
                                    <label class="control-label col-sm-4" for="totalPerson">Persons<span class="req">*</span></label>
                                    <div class="col-sm-8">
                                        <select name="totalPerson" class="form-control" ng-options="o  as o for o in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" data-ng-model="room.totalPerson">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-8 col-sm-4 text-right">Total persons allowed in this room:</div>
                                    <div class="col-xs-4 col-sm-2">{{ room.totalPerson }}</div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': roomForm.extrabed.$touched && roomForm.extrabed.$invalid }">
                                    <label class="control-label col-sm-4" for="extrabed">Extra Bed <span class="req">*</span></label>
                                    <div class="col-sm-8">
                                        <select name="extrabed" class="form-control" ng-options="o  as o for o in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" data-ng-model="room.extraBed">
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <!--/.col-md-4-->
                            <div class="col-md-4">
                                <h4>Content</h4>
                                <div class="photos">
                                    <ul class="list-inline">
                                        <li ng-repeat="photo in room.photos">
                                            <img width="60" height="60" src="{{ photo.file.small }}" />
                                            <a ng-click="deletePhoto($parent.$index, room.id, photo.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-default pull-right photo-uploader"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload Photos
                                        <input type="file" ng-click="setPhotoRoomID(room.id, $index)" nv-file-select="" uploader="uploader" accept="image/*" multiple/>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': roomForm.roomSize.$touched && roomForm.roomSize.$invalid }">
                                    <label class="control-label col-sm-4" for="roomSize">Room Size (sq.m) <span class="req">*</span></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="roomSize" ng-model="room.roomSize" min="0" ng-min="0" class="form-control" ng-required="true" required>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': roomForm.location.$touched && roomForm.location.$invalid }">
                                    <label class="control-label col-sm-4" for="location">Location <span class="req">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" name="location" ng-model="room.location" class="form-control" ng-required="true" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Amenities</label>
                                    <div class="col-md-8">
                                        <button type="button" class="btn btn-default" ng-click="openAminities($index, room)">{{ room.facilities.length }} Selected <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Bedding</label>
                                    <div class="col-md-8">
                                        <button type="button" class="btn btn-default" ng-click="openBedding($index, room)">{{ room.beds.length }} Selected <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': roomForm.bathrooms.$touched && roomForm.bathrooms.$invalid }">
                                    <label class="control-label col-sm-4" for="bathrooms">Bathrooms</label>
                                    <div class="col-sm-8">
                                        <select name="bathrooms" class="form-control" ng-options="o  as o for o in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" data-ng-model="room.bathrooms">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label col-sm-4">Publish</label>
                                    <div class="col-sm-8">
                                        <toggle ng-model="room.isActive" ng-change="changed()" on="Yes" off="No" onstyle="btn-success" size="btn-sm"></toggle>
                                    </div>
                                </div>
                            </div>
                            <!--/.col-md-4-->
                        </div>
                        <div class="footer-row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success" ng-disabled="roomForm.$invalid">Save</button>
                                    <button type="button" ng-click="open(room)" class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="id" ng-model="room.id">
                    </form>
                </div>
            </uib-accordion>
        </div>
    </section>
    <div ui-view="footer"></div>
</div>
<script type="text/ng-template" id="aminitiesPopup.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Facilities</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form name="aminitiesForm" class="form-inline" ng-submit="saveFacility(aminitiesForm.$valid)">
            <div class="form-group">
                <input type="text" name="search" ng-model="facility.name" class="search form-control" placeholder="Search..." ng-required="true" required>
            </div>
            <button type="submit" class="btn btn-primary" ng-show="!filteredAminities.length">Add</button>
        </form>


        <div class="facilities">
            <div class="col-md-4 item" ng-repeat="i in filteredAminities = (aminities | filter:facility.name)">
                <p>{{ i.name }}</p>
                <div class="actions">
                    <a ng-click="deleteAminities(i.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <toggle ng-model="i.active" ng-init="i.active=aminitiesExists(i.id)" class="toggle-aminities" ng-change="changed()" size="btn-xs" onstyle="btn-success"></toggle>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()" type="button">Cancel</button>
        <button type="submit" ng-click="ok()" class="btn btn-primary" type="button">Apply</button>
    </div>
</script>

<script type="text/ng-template" id="beddingPopup.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Bedding</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form name="beddingForm" ng-submit="saveBedding(beddingForm.$valid)">
            <div class="row" class="bedding-lists" ng-repeat="b in beds track by $index">
                <div class="col-md-2">
                    <div class="form-group">
                        <select ng-model="beds[$index].qty" class="form-control" ng-options="i for i in [] | range:1:21"></select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">x</div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select ng-model="beds[$index].type" class="form-control" ng-options="i for i  in bedTypeLists"></select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <a ng-if="$index > 0" class="trash-bed" ng-click="deleteBed($index)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

        </form>
        <button class="btn btn-primary" ng-click="addBed()">Add another bed</button>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()" type="button">Cancel</button>
        <button type="submit" ng-click="ok()" class="btn btn-primary" type="button">Apply</button>
    </div>
</script>